
.menu-controls {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.5rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: fit-content;
    height: auto;
    background-color: #aaaaaa;
    border-radius: 12px;
  }
  
  .menu-bar {
    display: flex;
    width: fit-content;
    height: 40px;
    color: #aaaaaa;
    background-color: #aaaaaa;
    align-items: center;
    vertical-align: middle;
    border: 0.10rem black;
    border-style: solid;
    border-radius: 6px;
  }
  
  .menu-button {
    color: black;
    margin: 0.15rem;
    padding: 0.1rem;
    vertical-align: middle;
    width:2rem;
    height: 2rem;
    border-radius: 6px;
  }

  .menu-button-home {
    color: black;
  }
  
  .menu-button:hover {
    border: 2px solid white; 
  }
  
  .menu-erase-button {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  .menu-settings-button {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  .menu-file-upload-button {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 14rem;
  }
  
  .menu-button-2d {
    margin-left: 1rem;
  }
  
  .menu-button-3d {
    margin-right: 1rem;
  }