* {
  font-size: 1rem;
  margin:0rem;
  padding:0rem;
  font-family:Arial, Helvetica, sans-serif;

}

div.leaflet-popup-content-wrapper{
  width: fit-content;
  max-width: 50vw;
  min-width: 35vw;

}

div.leaflet-popup{
  width: fit-content;
  max-width: 50vw;
  min-width: 35vw;
}

div.leaflet-popup-content {
  width: fit-content;
  max-width: 50vw;
  min-width: 35vw;
} 

.leaflet-marker-icon{
  border: 0.25rem solid yellow;
}

.map-thumb-2d {
  padding: 0.1rem;
  background-color: black;
}

.map-body {
  margin-right: 0.5rem;
  margin-left: 1.5rem;
  color: gainsboro;
  width: 98vw;
  height: 90vh;
  display: block;
  background-image: url(../images/dark-geom-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.map-controls {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.5rem; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  height: auto;
  background-color: #aaaaaa;
}

.map-menu-bar {
  display: flex;
  width: fit-content;
  height: auto;
  color: #aaaaaa;
  background-color: #aaaaaa;
  align-items: center;
  vertical-align: middle;
  border: 0.10rem black;
  border-style: solid;
}

.map-menu-button {
  color: black;
  margin: 0.25rem;
  vertical-align: middle;
  width:2rem;
  height: 2rem;
}

.map-menu-button:hover {
  border: 0.1rem solid white; 
  box-shadow:gray 0.1rem;
}

.map-erase-button {
  margin-right: 1rem;
  margin-left: 1rem;
}

.map-settings-button {
  margin-right: 1rem;
  margin-left: 1rem;
}

.map-file-upload-button {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 14rem;
}

.map-button-2d {
  margin-left: 1rem;
}

.map-button-3d {
  margin-right: 1rem;
}

.map-loading-image {
  position: fixed;
  display: block;
  margin-top: 30vw;
  width: 5rem;
  height: 5rem;
  margin-left: 45vw;
  z-index: 1000;
}

.map-h1 {
  text-align: center;
  color: gainsboro;
}

.map-h2 {
  text-align: center;
  color: gainsboro;
  z-index: 1000;
}

.map-h3 {
  margin: 0.5rem;
  text-align: center;
  color: gainsboro;
  z-index: 1000;
}


.map-form-input {
  font-size: large;
  max-width: max-content;
  margin-left: 15px;
  color: white;
}

.map-form-input-text {
  font-size: large;
  height: 25px;
}

.map-drop-zone__input {
  display: flex;
}

.map-base {
  margin-top: 2rem;
  width: 95vw;
  height: 90vh;
}

.map-drop-zone {
  cursor: pointer;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.map-drop-zone-3d {
  display: block;
  padding: 0px;
  margin: 0px;
}

.map-drop-zone-2d {
  display: block;
  padding: 0px;
  margin: 0px;
}

.map-drop-zone--over {
  border-style: solid;
  border-color: limegreen;
}

