* {
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
  margin:0rem;
  padding:0rem;
}

div.leaflet-popup-content-wrapper{
  width: fit-content;
  max-width: 35vw;
  min-width: 35vw;
}

div.leaflet-popup{
  width: fit-content;
  max-width: 35vw;
  min-width: 35vw;
}

div.leaflet-popup-content {
  width: fit-content;
  max-width: 35vw;
  min-width: 35vw;
} 

.leaflet-marker-icon{
  border: 0.20rem solid #F6F6F6;
}

.map-thumb-2d {
  padding: 0.1rem;
  background-color: #F6F6F6;
}

.map-body {
  margin-left: 10px;
  margin-right: 0px;
  color:  #F6F6F6;
  width: 100%;
  display: block;
  background-color: #363538;
}

.button {
  display: inline;
  align-self: center;
  cursor: pointer;
  width: fit-content;
  background: #F6F6F6;
  color: black;
  padding: 0.33rem;
  margin: 0.5rem;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  height: fit-content;
  width: fit-content;
  max-height: 1.2rem;
  opacity: 0.6;
  border-radius: 10px;
}

a {
  color: #52D6F4;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
}

.button:hover,
a:hover {
  background-color: #408697;
  color: #F6F6F6;
}

.map-drop-zone__input {
  display: flex;
}

.map-drop-zone {
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.map-drop-zone--over {
  border-style: solid;
  border-color: limegreen;
}

.map-drop-submit-button{
  display: none;
}

.map-base {
  width: 98%;
  height: 86svh;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  min-width: 300px;
}

.map-loading-image {
  position: fixed;
  display: block;
  margin-top: 30vw;
  width: 5rem;
  height: 5rem;
  margin-left: 45vw;
  z-index: 1000;
}

.map-h1 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  color:  #F6F6F6;
}

.map-h2 {
  text-align: center;
  color: azure;
  z-index: 1000;
}

.map-h3 {
  margin: 0.5rem;
  text-align: center;
  color: azure;
  z-index: 1000;
}


.map-form-input {
  font-size: large;
  max-width: max-content;
  margin-left: 15px;
  color: white;
}

.map-form-input-text {
  font-size: small;
  color: black;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 1rem;
  margin-bottom: 0rem;
  width: fit-content;
  min-width: fit-content;
  grid-gap: 1rem; 
  background-color: #8D8C8A;
  border-radius: 15px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  list-style: none;
  border-radius: 5px;
}

nav li {
  cursor: pointer;
  margin: 0.25rem;
  border-radius: 5px;
}

nav li:hover {
  border-radius: 5px;
  cursor: pointer;
  color:blue;
   border-bottom-color: blue;
}