* {
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
  margin:0rem;
  padding:0rem;
}

div.leaflet-popup-content-wrapper{
  width: fit-content;
  max-width: 35vw;
  min-width: 35vw;
}

div.leaflet-popup{
  width: fit-content;
  max-width: 35vw;
  min-width: 35vw;
}

div.leaflet-popup-content {
  width: fit-content;
  max-width: 35vw;
  min-width: 35vw;
} 

.leaflet-marker-icon{
  border: 0.20rem solid darkblue;
}

.map-thumb-2d {
  padding: 0.1rem;
  background-color: darkblue;
}

.map-body {
  margin-left: 10px;
  margin-right: 0px;
  color: cornsilk;
  height: 100%;
  display: block;
  background-image: url(../images/dark-geom-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.map-drop-zone__input {
  display: flex;
}

.map-drop-zone {
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.map-drop-zone--over {
  border-style: solid;
  border-color: limegreen;
}

.map-drop-submit-button{
  display: none;
}

.map-base {
  width: 98%;
  height: 86svh;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  min-width: 300px;
}

.map-loading-image {
  position: fixed;
  display: block;
  margin-top: 30vw;
  width: 5rem;
  height: 5rem;
  margin-left: 45vw;
  z-index: 1000;
}

.map-h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  color: cornsilk;
}

.map-h2 {
  text-align: center;
  color: azure;
  z-index: 1000;
}

.map-h3 {
  margin: 0.5rem;
  text-align: center;
  color: azure;
  z-index: 1000;
}


.map-form-input {
  font-size: large;
  max-width: max-content;
  margin-left: 15px;
  color: white;
}

.map-form-input-text {
  font-size: small;
  color: black;
  height: auto;
}

