.settings-modal {
  position: fixed; 
  left: 60px;
  top: 120px;
  padding-left: 1.5rem;
  width: -moz-fit-content; 
  height: -moz-fit-content; 
  background-color: #aaaaaa;
  z-index: 1000; 
  border-radius: 10px;
}

.settings-modal-hide {
  display: none;
}

.settings-modal-show {
  display: flex;
}

/* Modal Content */

.settings-form-fieldset {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  vertical-align: top;
  border: 2px solid black;
  border-radius: 6px;
}

.settings-legend {
  color: black;
  font-size: 1rem;
  padding: 0;
  margin-top: -0.5rem;
}

.settings-map-icon-selector {
  margin-left: 1rem;
  margin-right:1rem;
  height: -moz-fit-content;
  background-color: #aaaaaa;
}

.settings-icon-2d {
  margin-right: 0.5rem;
  /* border: 2px solid black; */
  text-align: center;
  width: 50px;
  height: 50px;
}

.settings-title-text {
  margin-top: 0rem;
  margin-left: 0.5rem;
  margin-right: 0rem;
  vertical-align: top;
  padding: 0px;
  color: black;
  float: left;
  font-size: 1rem;
  font-weight: bold;
}

/* The Close Button */
.settings-close {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0.5rem;
  vertical-align: top;
  padding: 0px;
  color: black;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.settings-close:hover,
.settings-close:focus {
  color: rgb(199, 2, 2);
  text-decoration: none;
  cursor: pointer;
}
