* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: block;
  background-image: url(../images/dark-geom-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
  color: azure;
}

h2 {
  text-align: center;
  color: white;
  background-color: black;
  z-index: 1000;
}


nav {
  width: 'fit-content';
  position: 0px;
  background-color: lightslategray;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex=flex-start;
  align-items: center;
}

nav li {
  height: 30px;
}

.selector {
  color: darkblue;
}

nav a {
  color: black;
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav a:hover {
  background-color: lightgrey;
}

nav li:first-child {
  margin-right: auto;
}

.directory-name {
  font-weight: bold;
  font-size: large;
}

.grid-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.projectBox {
  background-color: #aaaaaa;
  padding: 1rem;
}

.project {
  text-align: left;
  width: min-content;
  border: azure;
  border-width: medium;
  border-style: ridge;
}

.project-title {
  text-align: center;
}

a.project-image {
  text-align: left;
  padding: 1rem;
}

img.project-image {
  align-self: center;
  padding: 0.5rem;
}

.description-text {
  text-align: left;
  margin: 1rem;
}

.project-details {
  display: flex;
  flex-flow: row;
  text-align: justify;
  margin: 1rem;
}

div.project-details {
  text-align: justify;
  margin: 0.5rem;
  border: azure;
  border-width: medium;
  border-style: ridge;
}


img.ImageResultPanel {
  margin: 10px;
  width: 900px;
  height: 600px;
}

div.ImageResultPanel {
  background-color: lightslategray;
  min-width: 700px;
  min-height: 600px;
}

div.image-preview {
  border: groove 5px;
  background-color: lightslategray;
  display: flex;
  justify-content: flex=flex-end;
  align-items: top;
}

img.img_results {
  align-items: top;
  margin: 0px;
  padding: 0px;
}

img.img_loader {
  align-items: right;
  width: 50px;
  height: 50px;
}

div.file_list {
  margin-top: 0px;
  vertical-align: top;
  font-size: small;
  min-width: 235px;
  max-width: 250px;
  overflow-y: scroll;
}

.nolabel {
  list-style: none;
  max-height: 25%;
}

div.img_result {
  vertical-align: top;
  align-items: top;
  margin: 0px;
  padding: 0px;
}

