* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: gainsboro;
  width: 98vw;
  height: 90vh;
  display: block;
  background-image: url(../images/dark-geom-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
  color: azure;
}

h2 {
  text-align: center;
  color: white;
  background-color: black;
  z-index: 1000;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.5rem; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  height: auto;
  background-color: #aaaaaa;
}

.projectBox {
  background-color: #aaaaaa;
}

.project {
  display: flow;
  grid-auto-flow: column;
  max-width: 350px;
  min-width: 300px;
  height: auto;
  text-align: left;
  border: azure;
  border-width: medium;
  border-style: ridge;
}

.project-title {
  color:darkblue;
  text-align: center;
}

a.project-image {
  text-align: left;
  padding: 1rem;
}

img.project-image {
  align-self: center;
  padding: 0.5rem;
}

.description-text {
  text-align: left;
  margin: 1rem;
}

.project-details {
  display: flex;
  flex-flow: row;
  text-align: justify;
  margin: 1rem;
}

div.project-details {
  text-align: justify;
  margin: 0.5rem;
  border: azure;
  border-width: medium;
  border-style: ridge;
}



nav {
  width: fit-content;
  position: 0px;
  background-color: lightslategray;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex=flex-start;
  align-items: center;
}

nav li {
  height: 30px;
}

.selector {
  color: darkblue;
}

nav a {
  color: black;
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav a:hover {
  background-color: lightgrey;
}

nav li:first-child {
  margin-right: auto;
}

.directory-name {
  font-weight: bold;
  font-size: large;
}


