* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: cornsilk;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/dark-geom-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.active {
  display:flex;
}

.inactive {
  display: none;
}

.nav-bar{
  display: block;
  align-items: center;
} 

nav {
  margin: 1rem;
  color: cornsilk;
  display: flex;
  width: 50vw;
  min-width: fit-content;
  grid-gap: 1rem; 
  background-color: #444444;
  box-shadow: 3px 3px 5px rgba(255,255,255, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 0.25rem;
}

nav li:hover {
  cursor: pointer;
  color:black;
  background-color: azure;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem; 
  padding: 1rem;
  margin: 0.5rem;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem; 
  padding: 1rem;
  margin: 0.5rem;
  width: fit-content;
  height: fit-content;
}

.projectBox {
  background-color: #444444;
}

.project {
  color: cornsilk;
  padding: 1rem;
  display: flow;
  grid-auto-flow: column;
  max-width: 350px;
  min-width: 300px;
  height: auto;
  text-align: center;
  border: azure;
  border-width: medium;
  border-style: ridge;
}

.project-title {
  color:cornsilk;
  text-align: center;
}

a.project-image {
  
  color: greenyellow;
  text-align: center;
  padding: 1rem;
}

img.project-image {
  align-self: center;
  padding: 0.5rem;
}

.description-text {
  text-align: left;
  margin: 1rem;
}

.project-details {
  display: flex;
  flex-flow: row;
  text-align: justify;
  margin: 1rem;
}

div.project-details {
  text-align: justify;
  margin: 0.5rem;
  border: azure;
  border-width: medium;
  border-style: ridge;
}


